<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Tech Blog</title>
</head>
<body>
  <nav>
    <h1>Tech Blog</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      {{#if logged_in}}
      <li><a id="logout" href="#">Logout</a></li>
      {{else}}
      <li><a href="/login">Login/Sign Up</a></li>
      {{/if}}
    </ul>
  </nav>
  <main>
    {{{ body }}}
  </main>
  <footer>Created by @<a href="https://github.com/sjuan634" target="_blank">Juan Sanchez</a></footer>
</body>
</html>