<div>
  <h2>Login</h2>
  <form id="login-form">
    <div>
      <label for="username-input">Username</label>
      <input type="text" id="username-input" placeholder="username" required>
    </div>
    <div>
      <label for="password-input">Password</label>
      <input type="password" id="password-input" placeholder="password" required>
    </div>
    <button type="submit" id="login-btn">Login</button>
  </form>
  <span>Don't have an account? <a href="/signup">Sign up here</a></span>
</div>

<script src="./js/login.js"></script>