<div class="flex justify-center mt-8">
  <form id="new-post-form" class="w-full max-w-lg">
    <div class="mb-4">
      <label for="new-post-title" class="block text-gray-700 font-bold mb-2">Title</label>
      <input type="text" id="new-post-title" placeholder="Post title..." required
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="mb-6">
      <label for="new-post" class="block text-gray-700 font-bold mb-2">Post</label>
      <textarea name="new-post" id="new-post" placeholder="Post here..." required
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
    </div>
    <div class="flex justify-center">
      <button type="submit" id="new-post-btn"
      class="mb-6 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Create</button>
    </div>
  </form>
</div>

<script src="../js/logout.js"></script>
<script src="../js/new-post.js"></script>