<div class="container mx-auto py-6">
  <h2 class="text-3xl font-bold mb-2">Sign up</h2>
  <form id="signup-form" class="max-w-sm">
    <div class="mb-4">
      <label for="new-username-input" class="block text-gray-700 font-bold mb-2">Username</label>
      <input type="text" id="new-username-input" placeholder="create-username" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
    </div>
    <div class="mb-4">
      <label for="new-password-input" class="block text-gray-700 font-bold mb-2">Password</label>
      <input type="password" id="new-password-input" placeholder="create-password" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
    </div>
    <button type="submit" id="signup-btn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Sign up</button>
  </form>
</div>

<script src="./js/signup.js"></script>