<div>
  <h2>Sign up</h2>
  <form id="signup-form">
    <div>
      <label for="new-username-input">Username</label>
      <input type="text" id="new-username-input" placeholder="create-username" required>
    </div>
    <div>
      <label for="new-password-input">Password</label>
      <input type="password" id="new-password-input" placeholder="create-password" required>
    </div>
    <button type="submit" id="signup-btn">Sign up</button>
  </form>
</div>